body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 90px;
}

h2 {
  font-size: 50px;
  color: #0872c7;
  margin: 0;
}

h3 {
  color: #5a6275;
}

h4 {
  color: #ffa828;
  margin: 0;
}

li {
  color: #939aa9;
  list-style: none;
}

span {
  color: #42a5f5;
}

.container {
  max-width: 900px;
}

.card {
  margin: 30px;
  padding: 10px;
  border: solid rgba(26, 178, 168, 0.2) 5px;
  border-radius: 4px;
}

#search-form {
  padding-bottom: 10px;
}

#search-form #search-bar {
  border: 0;
  border-bottom: solid #ffa828 2px;
}

#search-form ::placeholder {
  color: #ffa828;
}

.search-button {
  margin-left: 10px;
  background-color: #42a5f5;
  color: #ffffff;
}

.search-button:hover {
  background-color: gray;
  color: #ffffff;
  cursor: pointer;
}

.current-button {
  border: solid #ffa828 1px;
  color: #ffa828;
}

.weather,
.weather h3 {
  color: #42a5f5;
}

.weather ul {
  position: relative;
  left: -30px;
}

.next-5-days {
  border: 0;
  border-left: solid rgba(23, 162, 184, 0.3) 5px;
  margin-top: 20px;
}
.next-5-days ul {
  font-size: 40px;
  margin: 0;
}

.next-5-days li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather-icon {
  color: #0872c7;
}

#temp-converters {
  float: right;
}

#temp-converters a {
  text-decoration: none;
  color: #ffa828;
}

#conditions {
  text-transform: capitalize;
}
