body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 90px;
}

h2 {
  font-size: 50px;
  color: #008891;
  margin: 0;
}

h3 {
  color: #487e95;
}

h4 {
  color: #487e95;
  margin: 0;
}

li {
  color: #487e95;
  list-style: none;
}

span {
  color: #008891;
}

.container {
  max-width: 900px;
}

.card {
  background: linear-gradient(rgb(229, 226, 226), rgba(201, 201, 201, 40));
  margin: 30px;
  padding: 10px;
  border-radius: 40px;
  border: none;
}

#search-form {
  padding-bottom: 10px;
}

#search-form #search-bar {
  border-radius: 20px;
  border: solid #00587a 1px;
}

#search-form ::placeholder {
  color: #00587a;
}

.search-button {
  margin-left: 10px;
  border-radius: 24px;
  background-color: #00587a;
  color: #ffffff;
  border: 0;
}

.search-button:hover {
  background-color: gray;
  color: #ffffff;
  cursor: pointer;
}

.button {
  width: 120px;
  height: 54px;
}

.current-button {
  border: solid #00587a 1px;
  border-radius: 24px;
  color: #042675;
}

.weather,
.weather h3 {
  color: #008891;
}

.weather ul {
  position: relative;
  left: -30px;
  bottom: -20px;
  font-size: 24px;
}

.temp-container {
  display: inline-block;
  justify-content: center;
}

.next-5-days {
  border: 0;
  border-left: solid rgba(23, 162, 184, 0.3) 5px;
  margin-top: 20px;
}
.next-5-days ul {
  font-size: 25px;
  margin: 0;
}

.next-5-days ul img {
  max-width: 60px;
}

.next-5-days li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.weather-icon {
  color: #0872c7;
}

#forecast-temp {
  color: #ec8c4c;
}

#temp-converters {
  font-size: 20px;
  position: relative;
  top: -50px;
  left: -15px;
}

#temp-converters .active {
  color: gray;
  cursor: default;
}

#temp-converters .active:hover {
  text-decoration: none;
}

#temp-converters a {
  text-decoration: none;
  color: #ffa828;
}

#temp-converters a:hover {
  text-decoration: underline;
}

#description {
  text-transform: capitalize;
}

@media screen and (max-width: 760px) {
  card-body {
    display: flex;
  }

  input {
    width: 100%;
  }

  h2 {
    font-size: 30px;
  }

  li {
    font-size: 16px;
  }

  .next-5-days {
    border-left: 0;
    display: block;
  }

  .next-5-days ul {
    padding: 0;
  }

  .search-button {
    margin-left: 0px;
  }

  #buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  #search-bar {
    width: 100px;
  }
}
